*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:DM Sans;
}
/* shared styles  */
.primary-p{
    font-size:0.7rem;
    color:#02073E;
    font-weight:400;
}
.primary-header-p{
    color:#EF9E48;
    font-weight:700;
    text-transform:uppercase;
    font-size:0.7rem;
}
.primary-header-h2{
    color:#0F2137;
    font-weight:700;
    font-size:1.3rem;
}
.section-header{
    text-align:center;
    line-height:1.5rem;
}
.section{
    margin-top:3rem;
}
/* shared styles  */
/* header styling start  */
header{
    width:100%;
    height:auto;
    background-image:url(images/background.png);
}
/* header styling end */
/* navbar styling start  */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    transition:all 0.4s ease;
}
.logo{
    display:flex;
    gap:1rem;
    transition:all 0.4s ease;
}
.logo img{
    width:3rem;
}
.logo h2{
    font-weight:700;
    color:#02073ec7;
}
.navbar ul li{
    display:inline-block;
    margin-right:2rem;
    list-style:none;
    transition:all 0.4s ease;
}
.navbar ul li a{
    text-decoration:none;
    color:#02073E;
    font-weight:400;
    font-size:0.8rem;
    transition:all 0.4s ease;
}
.navbar-button button{
    border:none;
    color:#EF9E48;
    font-weight:800;
    padding:0.7rem;
    border-radius:0.5rem;
}
/* navbar styling end  */
/* header banner section styling start  */
.first-stars{
    display:flex;
    align-items:center;
    gap:1rem;
    transition:all 0.4s ease;
}
.sponsors .primary-p{
    display:flex;
    gap:1rem;
    transition:all 0.4s ease;
}
.sponsors i{
    position:relative;
    top:0.5rem;
    font-size:1rem;
    transition:all 0.4s ease;
}
.header-banner-section-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px auto;
    padding:5rem;
    gap:1rem;
    transition:all 0.4s ease;
}
.header-banner-section-text{
    display:flex;
    flex-direction:column;
    gap:2rem;
    transition:all 0.4s ease;
}
.header-banner-section-text h1{
    font-size:4rem;
    transition:all 0.4s ease;
}
.header-banner-section-text p{
    line-height:1.8rem;
    transition:all 0.4s ease;
}
.header-banner-section-text input{
    border:none;
    width:20rem;
    padding:1rem;
    border-radius:0.5rem;
    transition:all 0.4s ease;
}
.header-banner-section-picture img{
    width:20rem;
    border-radius:0.4rem;
    box-shadow:2px 2px 10px rgba(128, 128, 128, 0.256);
    transition:all 0.4s ease;
}
/* header banner section styling end */
/* section 1 start  */
.section-1-item-container{
    max-width:800px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px auto;
    gap:2rem;
    transition:all 0.4s ease;
}
.section-1-items-text{
    width:30%;
    display:flex;
    flex-direction:column;
    gap:0.7rem;
    margin-top:2rem;
    box-shadow:2px 2px 10px rgba(128, 128, 128, 0.26);
    padding:1rem;
    transition:all 0.4s ease;
}
.section-1-items-text iframe{
    width:100%;
    height:50%;
    border-radius:0.3rem;
    transition:all 0.4s ease;
}
.second-stars{
    display:flex;
    justify-content:start;
    align-items:center;
    gap:0.5rem;
    transition:all 0.4s ease;
}
/* section 1 end */
/* section 2 start  */
.section-2-item-container{
    display:flex;
    max-width:800px;
    justify-content:center;
    align-items:center;
    margin:10rem auto;
    gap:2rem;
    transition:all 0.4s ease;
}
.section-2-items-number{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:2rem;
    text-align:center;
    background-image:url(images/pattern.png);
    background-size:cover;
    background-position:center;
    transition:all 0.4s ease;
}
.section-2-items-first-number{
    box-shadow:1px 1px 10px rgba(189, 189, 189, 0.33);
    border-radius:0.5rem;
    padding:1rem;
    width:150px;
    height:150px;
    transition:all 0.4s ease;
}
.section-2-items-number h1{
    color:#EF9E48;
    font-size:2rem;
    margin-bottom:1rem;
}
.section-2-items-text{
    display:flex;
    flex-direction:column;
    gap:1rem;
    transition:all 0.4s ease;
}
.section-2-items-text h2{
    font-size:2.5rem;
    transition:all 0.4s ease;
}
.section-2-items-text .primary-p{
    line-height:1.5rem;
    transition:all 0.4s ease;
}
.section-2-items-text button{
    border:none;
    color:#EF9E48;
    font-weight:800;
    padding:0.7rem;
    border-radius:0.5rem;
    transition:all 0.4s ease;
}
#number-two{
    position:relative;
    bottom:3rem;
    transition:all 0.4s ease;
}
/* section 2 end */
/* responsive - tablet approach start  */
@media screen and (min-width: 576px) and (max-width: 992px){
    nav{
        flex-direction:column;
        text-align:center;
        gap:2rem;
    }
    .logo h2{
        color:#3FDBB1;
    }
    .logo img{
        background-color:#3FDBB1;
        padding:1rem;
        border-radius:2rem;
    }
    .navbar ul li{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        background-color:#3FDBB1;
        padding:1.5rem;
    }
    .header-banner-section-container{
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
    }
    .header-banner-section-text h1{
        font-size:4rem;
        text-align:center;
    }
    .header-banner-section-picture img{
        width:100%;
    }
    .header-banner-section-text input{
        margin:0px auto;
    }
    .header-banner-section-text .sponsors{
        text-align:center;
        margin:0px auto;
    }
    .first-stars{
        justify-content:space-between;
        margin:0px auto;
    }
    .header-banner-section-text .primary-p{
        font-size:1rem;
        text-align:center;
    }
    .section-1-item-container{
        flex-direction:column;
        width:100%;
    }
    .section-1-items-text {
        width:80%;
        height:auto;
    }
    .section-2-item-container{
        flex-direction:column;
        width:90%;
    }
    .section-2-items-number{
        display:grid;
        grid-template-columns:repeat(2,1fr);
    }
    
}
/* responsive - tablet approach end */
/* responsive - mobile approach start  */
@media screen and (max-width: 576px){
    nav{
        flex-direction:column;
        text-align:center;
        gap:2rem;
    }
    .logo h2{
        color:#3FDBB1;
    }
    .logo img{
        background-color:#3FDBB1;
        padding:1rem;
        border-radius:2rem;
    }
    .navbar ul li{
        flex-direction:row;
        justify-content:center;
        align-items:center;
        text-align:center;
    }
    .header-banner-section-container{
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
    }
    
    .header-banner-section-text h1{
        font-size:2rem;
    }
    .header-banner-section-picture img{
        width:100%;
    }
    .section-1-item-container{
        flex-direction:column;
        width:100%;
    }
    .section-1-items-text {
        width:80%;
        height:auto;
    }
    .section-2-item-container{
        flex-direction:column;
        width:90%;
    }
    .section-2-items-number{
        display:flex;
        flex-direction:column;
    }
    #number-two{
        position:relative;
        bottom:0;
    }
}
/* responsive - mobile approach end */